@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

section {
  margin-bottom: 80px;
}

/* Navbar */
nav {
  font-size: 16px;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  color: #114997 !important;
}

.navbar-nav .language #select {
  color: #114997 !important;
}

.navbar-brand img {
  width: 120px;
  height: 55px;
}

/* Jumbotron */
.jumbotron {
  background-clip: border-box;
  padding: 50px;
}

.jumbotron h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.jumbotron p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.jumbotron button {
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 80px;
  border-width: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s, background-position 0.2s;
  touch-action: manipulation;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.jumbotron button:hover {
  background-position: -20px -20px;
}

.jumbotron img {
  width: 479px;
  width: 320px;
  align-self: center;
}
/* End Jumbotron */

/* sponsor */
.sponsor img {
  height: 125px;
  width: 125px;
}

.sponsor h1 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.sponsor p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
/* End Sponsor */

/* video */
.video h1 {
  font-size: 36px;
  font-weight: 700;
}

.thumb-yt img {
  height: 400px;
  width: 800px;
  transition: 0.5s ease;
  background: none;
  margin-top: 28px;
}

.thumb-yt:hover {
  opacity: 0.5;
  cursor: pointer;
}
/* End Video */

/* dana */
.dana {
  margin-top: 50px;
}

.dana h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.banner {
  width: 100%;
  margin-top: 28px;
}

/* end Dana */

/* freelance */
.freelance h1 {
  font-size: 36px;
  font-weight: 700;
}

.freelance .gallery {
  margin-top: 28px;
}

.owl-nav {
  position: absolute;
  top: 45%;
  right: 0;
}
.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover {
  background: none !important;
}

.owl-nav img {
  width: 30px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.owl-nav img:hover {
  width: 30px;
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.title {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 20px;
}

.btn-select {
  margin-top: 10px;
  width: 100%;
  max-width: 350px;
  height: 34px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.btn-select li {
  list-style: none;
  float: left;
  padding-bottom: 0px;
}

.btn-select:hover li {
  margin-left: 0px;
}

.btn-select:hover {
  background-color: #f4f3f3;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px #ccc;
}

.btn-select:focus {
  outline: none;
}
/* End Freelance */

/* gabung */
.gabung h1 {
  font-size: 36px;
  font-weight: 700;
}

.gabung h2 {
  margin-top: 28px;
  font-size: 25px;
  font-weight: 700;
}

.gabung img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.gabung ul {
  list-style-type: none;
  padding: 0px;
}

.gabung li {
  padding: 0 0 0 25px;
  position: relative;
  margin-bottom: 5px;
}

.gabung li::before {
  position: absolute;
  left: 5px;
  content: "\2713";
  color: #f5aa0e;
  align-self: center;
}
/* end gabung */

/* footer */
.footer {
  background: #114997;
  border-radius: 32px 32px 0px 0px;
}

.footer .img-logo {
  width: 180px;
  padding: 20px 0px 0px 0px;
}

.footer h2 {
  color: #ffbf3a;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 20px 0px 0px 0px;
}

.footer ul {
  list-style-type: none;
  padding: 0px;
  color: #ffffff;
}

.footer .pembayaran {
  width: 250px;
  margin-bottom: 20px;
}

.footer-2 {
  background: #043475;
  color: #ffffff;
  margin-left: auto;
  height: 52px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-2 .copyright {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #f2f2f2;
}

.footer-2 .image-side img {
  width: 18px;
  height: 18px;
  margin: 5px 5px 5px 5px;
}

/* end Footer */

@media (max-width: 992px) {
  * h1 {
    font-size: 18px;
  }

  .navbar .language {
    margin-bottom: 10px;
  }

  .jumbotron button {
    font-size: 16px;
  }

  .jumbotron img {
    width: 70%;
    align-self: center;
    margin-top: 20px;
  }

  .thumb-yt img {
    width: 100%;
    height: 50%;
    transition: 0.5s ease;
    background: none;
  }
  .banner {
    width: 100%;
  }
}
